<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Task Collections</a>
        {{#if isLogin}}
        <a href="/logout" class="btn btn-primary ms-auto">Logout</a>
        {{else}}
        {{#if (isAuth auth)}}
        <a href="/login" class="btn btn-primary ms-auto">Login</a>
        <a href="/register" class="btn btn-primary ms-2">Register</a>
        {{/if}}
        {{/if}}
    </div>
</nav>
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
    <div class="d-flex">{{message.message}}
        <button type="button" class="btn-close ms-auto me-3" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}